.shortened-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  transform: translate(0rem, -10rem);
  margin-bottom: 1rem;
}

.shortened-links > p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0rem 0rem;
}

.shortened-links > p:nth-child(1) {
  color: hsl(257, 27%, 26%);
}

.shortened-links > div {
  display: flex;
  place-items: center;
  gap: 1rem;
}

.shortened-links > div > p {
  color: #2acfcf;
}

.shortened-links > div > button {
  height: 2.2rem;
  width: 6.5rem;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 2000px) {
  .shortened-links {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .shortened-links {
    flex-direction: column;
    position: relative;
    z-index: 1;
    transform: translate(0.6rem, 1rem);
    font-size: 14px;
    gap: 1rem;
    width: 95%;
  }

  .shortened-links:nth-child(2) {
    margin-top: 2rem;
  }

  .shortened-links > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .shortened-links > div > button {
    width: 100%;
    height: 2.5rem;
  }

  .shortened-links > p:nth-child(1) {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 936px) {
  .shortened-links {
    width: 20rem;
    transform: translate(-5rem, -7rem);
  }
}
