.shorten-wrapper {
  display: flex;
  background: url("../../assets/images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  background-color: hsl(257, 27%, 26%);
  padding: 1.5rem;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  transform: translateY(-7rem);
}

.shorten-wrapper > div > input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

.shorten-wrapper > div > p {
  margin: 0;
  margin-top: 0.1rem;
  color: hsl(0, 87%, 67%);
}

.shorten-wrapper > div {
  width: 100%;
}

.shorten-wrapper > button {
  border-radius: 0.3rem;
  height: 2.6rem;
}

.placeholder-color::placeholder {
  color: hsl(0, 87%, 67%);
}

@media only screen and (min-width: 2000px) {
  .shorten-wrapper {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 936px) {
  .shorten-wrapper {
    width: 20rem;
    transform: translate(-5rem, -7rem);
  }
}

@media only screen and (max-width: 768px) {
  .shorten-wrapper {
    display: flex;
    flex-direction: column;
    width: 92%;
    position: absolute;
    transform: translate(1rem, -12rem);
    z-index: 1;
    padding: 1.5rem;
  }

  .shorten-wrapper > button {
    width: 100%;
    margin-top: 0.5rem;
    height: 2.7rem;
    border-radius: 0.3rem;
  }
}
