@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* reset */
* {
  box-sizing: border-box;
  font-family: var(--font-main);
  --font-main: "Poppins", sans-serif;
  --primary-color: #2acfcf;
  --dark-violet: hsl(257, 27%, 26%);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: hsl(257, 7%, 63%);
}

h1,
h2 {
  color: hsl(255, 11%, 22%);
}

.wrapper-white-bg,
.wrapper-grey-bg,
.wrapper-footer {
  background-color: #fff;
  padding: 2rem 20rem;
}

.wrapper-grey-bg {
  background-color: hsl(0deg 0% 95%);
  padding: 2rem 20rem;
}

.wrapper-boost-links-today {
  display: flex;
  justify-content: center;
  background-image: url("./assets/images/bg-boost-desktop.svg");
  padding: 3rem 0rem;
  background-color: var(--dark-violet);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-boost-links-today > div > h1 {
  color: #cccccc;
}

.wrapper-boost-links-today > div {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.wrapper-boost-links-today > div > button {
  height: 3rem;
}

.wrapper-footer {
  background-color: hsl(260, 8%, 14%);
}

a {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 700;
}

a:hover {
  color: var(--dark-violet);
}

.mobile-nav {
  display: none;
}

/* I've placed responsive css in each component css instead of writing it all here */
@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
  }

  a,
  button {
    color: #fff;
    font-size: 18px;
  }

  #root {
    width: 100%;
  }

  .wrapper-white-bg {
    padding: 2rem 1rem;
  }

  .wrapper-grey-bg {
    position: relative;
    padding: 2rem 0rem;
    padding-bottom: 3rem;
    width: 100%;
    padding-top: 7rem;
    transform: translateY(13.7rem);
  }

  .wrapper-boost-links-today {
    position: relative;
    transform: translate(0rem, 13.5rem);
    width: 100%;
    padding: 3rem 0rem;
  }

  .wrapper-boost-links-today > div > h1 {
    font-size: 24px;
  }

  .wrapper-boost-links-today > div > button {
    height: 2.5rem;
  }

  .wrapper-footer {
    position: relative;
    transform: translateY(13.5rem);
    width: 100%;
    padding: 3rem 0rem;
  }
}

@media only screen and (max-width: 1450px) {
  body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .wrapper-white-bg {
    padding: 2rem 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  nav {
    padding: 0;
  }
}

@media only screen and (min-width: 2000px) {
  .wrapper-footer {
    padding: 2em 40em;
  }
}
